.header {
  background-color: var(--secondary-color);
  height: 5.2vh;
}

.header > .gutter {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  max-height: 35%;
  pointer-events: none;
}
