.section {
  padding-bottom: 2rem;
}

.section-h3 {
  font-family: LatoLight;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 2.5rem 0;
}

.step-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.step {
  margin: 0 0.5rem;
  flex: 1 1 250px;
  display: flex;
  justify-content: center;
}

.step-container {
  max-width: 250px;
}

.step-h1-wrapper {
  display: flex;
  justify-content: center;
}

.step-h1 {
  font-size: 3rem;
  margin: 0;
  border-bottom: solid 0.3rem var(--main-color);
}

.step-p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media (max-width: 480px) {
  .section-h3 {
    font-size: 1.5rem;
  }
}
